@import "tailwindcss";

@theme {
  --color-primary: #991b1b;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --font-display: "Noto Sans SC", "Inter", sans-serif;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  font-family: var(--font-display);
  -webkit-tap-highlight-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
